<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>      
        <ion-card-content>
            <ion-button (click)="login()" color="default" shape="round" fill="outline">
              <ion-icon   slot="start" name="logo-linkedin"></ion-icon>
              login
            </ion-button>
        </ion-card-content>
      </ion-card>
</ion-content>